/**
	MAP MEDIA CAROUSEL STYLES - /apps/atvi/callofduty/strategy-guide/components/maps/map-media-carousel/clientlibs/css/media-carousel.less
*/
.map-media-carousel-component img,
.map-media-carousel-component video {
  display: block;
  max-width: 100%;
  height: auto;
}
.map-media-carousel-component .media-img {
  max-width: 100%;
}
.map-media-carousel-component .slide-container {
  display: flex;
}
.map-media-carousel-component .slide-container.align-left {
  justify-content: flex-start;
}
.map-media-carousel-component .slide-container.align-center {
  justify-content: center;
}
.map-media-carousel-component .slide-container.align-right {
  justify-content: flex-end;
}
.map-media-carousel-component .slide-container > .hide {
  display: none;
}

/**
	MAP MEDIA CAROUSEL SLICK STYLES - /apps/atvi/callofduty/strategy-guide/components/maps/map-media-carousel/clientlibs/css/slick.less
*/
.map-media-carousel-component .slick-list {
  margin: 0 -8px;
}
.map-media-carousel-component .slick-slide > div {
  padding: 0 8px;
}
.map-media-carousel-component .slick-list {
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.5));
}
.map-media-carousel-component .slick-slider.slick-dotted {
  margin-bottom: 16px;
}
.map-media-carousel-component .carousel-navigation-container {
  position: relative;
  display: none;
  grid-template-columns: minmax(0, 1fr) auto auto auto;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 8px;
  align-items: center;
}
.map-media-carousel-component .carousel-navigation-container .custom-arrow {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  border: 1px solid #79838d;
}
@media screen and (-ms-high-contrast: active) {
  .map-media-carousel-component .carousel-navigation-container .custom-arrow {
    border: 2px solid currentcolor;
  }
}
.map-media-carousel-component .carousel-navigation-container .custom-arrow > span[class$="-icon"] {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 16px 16px;
  opacity: 0.8;
}
.map-media-carousel-component .carousel-navigation-container .custom-arrow.custom-prev {
  justify-content: start;
}
.map-media-carousel-component .carousel-navigation-container .custom-arrow.custom-prev > span[class$="-icon"] {
  background-image: url(../../../../../../../content/dam/atvi/callofduty/cod-touchui/wzmobile/common/Vector-left.svg);
}
.map-media-carousel-component .carousel-navigation-container .custom-arrow.custom-next {
  justify-content: end;
}
.map-media-carousel-component .carousel-navigation-container .custom-arrow.custom-next > span[class$="-icon"] {
  background-image: url(../../../../../../../content/dam/atvi/callofduty/cod-touchui/wzmobile/common/Vector-right.svg);
}
.map-media-carousel-component .carousel-navigation-container .custom-arrow:hover > span[class$="-icon"],
.map-media-carousel-component .carousel-navigation-container .custom-arrow:focus > span[class$="-icon"] {
  opacity: 1;
}
.map-media-carousel-component .carousel-navigation-container .custom-dots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.map-media-carousel-component .carousel-navigation-container .custom-dots li button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
  width: 100%;
  height: 40px;
  position: relative;
  margin: 0;
  pointer-events: none;
}
@media screen and (-ms-high-contrast: active) {
  .map-media-carousel-component .carousel-navigation-container .custom-dots li button {
    border: 2px solid currentcolor;
  }
}
.map-media-carousel-component .carousel-navigation-container .custom-dots li button:before {
  content: "";
  background-color: #79838d;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
}
.map-media-carousel-component .carousel-navigation-container .custom-dots li button .slick-dot-icon {
  position: relative;
  width: 100%;
  height: 6px;
}
.map-media-carousel-component .carousel-navigation-container .custom-dots li.slick-active button .slick-dot-icon {
  background-color: #f3f4f5;
}
.map-media-carousel-component .carousel-navigation-container .slide-number {
  font-family: "Hitmarker Text Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 0.63rem;
  line-height: 0.88rem;
  letter-spacing: 1px;
  min-width: 7ch;
  text-align: right;
}
.map-media-carousel-component .slick-initialized + .carousel-navigation-container {
  display: grid;
}

